/* all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    /* Helvetica font is choosen for the body but if user does not have that installed it falls back to the other two fonts */
    font-family: Helvetica, Arial, san-serif;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    /* moved elements to the right */
    float: right;
    /* added spacing 7px top & bottom,  and 0px to left & right */
    margin: 7px 0;
}

header nav ul li {
    display:inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

section {
    padding: 60px;
}

/* hero style start */
.hero {
    /* relative URL path */
    background-image: url("../images/hero-bg.jpeg");
    height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* hero style end */

.hero-form {
    color: #024e76;
    padding: 20px;
    width: 500px;
    background-color: #fce138;
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.hero h3 {
    font-size: 35px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.hero-form h3 {
    margin: 0;
    font-size: 24px;
}

.form-input {
    font-size: 16px;
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

button {
    background-color: #024e76;
    color: #fce138;
    font-size: 16px;
    padding: 10px 20px;
    border:none;
}